.eks-clusters/
.clusters/
.kube/

# Kubeconfig files
*.kubeconfig
**/kubeconfig

# Temporary binaries and validation scripts
eksctl-anywhere
validate-dockerfile.sh

# EKS Anywhere CLI logs
eksa-cli-logs
